@import "tailwindcss";

@theme {
  --color-pink: #f1949f;
  --color-coffee: #9a6c55;
  --color-fef2d3: #fef2d3;

  --font-main: "Noto Sans JP", sans-serif;
  --font-mont: "Montserrat", sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-main);
  }
}

@layer utilities {
  .pcOnly {
    @apply hidden md:block;
  }

  .spOnly {
    @apply md:hidden;
  }

  .text-48 {
    font-size: clamp(1.5rem, 0.188rem + 6vw, 3rem);
  }

  .text-36 {
    font-size: clamp(1.25rem, 0.375rem + 4vw, 2.25rem);
  }

  .text-28 {
    font-size: clamp(0.875rem, 0.109rem + 3.5vw, 1.75rem);
  }

  .grid-1-1 {
    grid-area: 1 / -1;
  }
}