---
/* src/components/Project/Privacy/PrivacyJa.astro */
---
<h2>プライバシーポリシー</h2>
<p class="section-text">Shop Kloset Inc.（以下、「Shop Kloset Inc.」といいます。）は、個人情報が個人の重要な財産であることを認識し、個人情報を適切に取得・利用し、個人情報に関する法令等を遵守し、個人情報の漏えい等を防止・ 是正するため、以下のとおり個人情報の取扱方針を定め、最新の注意を払って管理運用します。なお、リンク先など他事業者等による個人情報収集は、当プライバシーポリシーの適用範囲ではございませんのでご留意下さい。</p>

<p class="chapter-title">第1条（適切な取得と利用目的）</p>
<p class="section-text">Shop Kloset Inc.は適法な手段により、以下の利用目的のため、個人情報を取得します。</p>
<ul class="numbered-list">
    <li>（1）各サービスの提供のため</li>
    <li>（2）利用者の年齢確認や本人確認のため</li>
    <li>（3）利用者のプロフィール、各サービス内における活動、嗜好を分析し、他の利用者をユーザーに気が合うお相手として提案し、また、利用者を他の利用者に気が合うお相手として提案するため</li>
    <li>（4）現在提供している各サービスまたは今後提供を検討している新サービスの案内及びアンケート実施のため</li>
    <li>（5）マーケティングデータの調査、統計、分析のため</li>
    <li>（6）メールマガジン配信のため</li>
    <li>（7）各サービスの改善や新サービスの開発等に役立てるため</li>
    <li>（8）利用者への連絡のため</li>
    <li>（9）利用者からのお問い合わせの際の本人確認その他の対応のため</li>
    <li>（10）キャンペーン等の抽選及び賞品や商品発送のため</li>
    <li>（11）当社または当社以外の第三者が広告主となる広告情報等の配信のため</li>
    <li>（12）各サービスの利用に関する統計データの作成のため</li>
    <li>（13）利用規約に違反する態様でのご利用を防止するため</li>
    <li>（14）利用者の同意を得た目的のため</li>
</ul>

<p class="chapter-title">第2条（適正な管理と保護）</p>
<p class="section-text">個人情報の管理は、厳重に行うこととし、個人情報に関する不正アクセス、紛失、破壊、改ざん、漏洩を防ぐための適切な予防及び是正処置を行います。</p>

<p class="chapter-title">第3条（預託）</p>
<p class="section-text">Shop Kloset Inc.は利用目的の達成に必要な範囲内において、取得した個人情報の全部または一部を業務委託先に預託することがあります。その際、業務委託先としての適格性を十分審査するとともに、契約にあたって守秘義務に関する事項等を規定し、業務委託先に対し必要かつ適切な監督を行います。</p>

<p class="chapter-title">第4条（第三者提供）</p>
<p class="section-text">Shop Kloset Inc.は、以下の場合を除き、第三者に対しデータを開示・提供することはいたしません。</p>
<ul class="numbered-list">
    <li>（1）利用者が事前に同意した場合</li>
    <li>（2）法令に基づく場合</li>
    <li>（3）各サービスの利用規約の違反があり、当社の権利、財産やサービスなどを保護するために、個人情報を公開せざるをえないと判断するに足る十分な根拠がある場合</li>
    <li>（4）人の生命、身体または財産の保護のために必要がある場合であって、利用者の同意を得ることが困難である場合</li>
    <li>（5）公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって、利用者の同意を得ることが困難である場合</li>
    <li>（6）国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、利用者の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがある場合</li>
    <li>（7）合併、会社分割、営業譲渡その他の事由によって個人情報の提供を含む当社</li>
</ul>

<p class="chapter-title">第5条（共同利用）</p>
<p class="section-text">Shop Kloset Inc.は、サービスの提供にあたり、当社の業務提携先と個人情報を共同利用することがあります。この場合に当社は、共同利用に先立ち、共同して利用する個人情報の項目、共同利用者の範囲、共同利用する個人情報の利用目的、共同利用する個人情報の管理責任者の氏名または名称についてあらかじめ公表いたします。</p>

<p class="chapter-title">第6条（開示等の手続）</p>
<p class="section-text">Shop Kloset Inc.は、利用者からの（ご自身の）個人情報の利用目的の通知、開示、内容の訂正、追加または削除、利用の停止、消去及び第三者提供の停止（以下「開示等」といいます）のお申し出に対して、遅滞なく応じます。ただし、個人情報保護法その他の法令により、当社が開示の義務を負わない場合は、この限りではありません。開示等の請求は当社所定の手続きにて行っていただく必要がございます。なお、個人情報の開示につきましては、手数料（1件あたり1,100円（税込）、振込手数料は利用者負担となります。）を頂戴しておりますので、あらかじめ御了承ください。</p>

<p class="chapter-title">第7条（免責）</p>
<p class="section-text">Shop Kloset Inc.は、利用者が各サービスの機能その他手段を用いて第三者に個人情報を明らかにした場合、利用者が各サービス上にて開示した情報等により個人を識別できてしまった場合には、何ら責任を負わないものとします。</p>

<p class="chapter-title">第8条（統計データの作成及び利用）</p>
<p class="section-text">Shop Kloset Inc.は、取得した個人情報をもとに個人を識別できないように加工した統計データを作成することがあります。個人を識別できないように加工した統計データの作成・利用につきましては、当社は何らの制限なく行うことができるものとします。</p>

<p class="chapter-title">第9条（属性情報・行動履歴等の取得・利用）</p>
<p class="section-text">Shop Kloset Inc.は、各サービスや広告の内容をより利用者に適したものとするために、以下を例とする個人を識別できない情報の取得・利用を行うことがあります。また、同様の目的で広告主や情報提供元、サービス提供元などにかかる情報を提供する場合があります。（クッキー、ログ、アクセスしたURL、コンテンツ、参照順などの行動履歴、端末の個体識別情報などの機器情報、利用者の性別、職業、年齢などの属性情報）</p>

<p class="chapter-title">第10条（法令、規範の遵守と見直し）</p>
<p class="section-text">Shop Kloset Inc.は、保有する個人情報に関して適用される日本の法令、その他規範を遵守するとともに、本個人情報保護方針の内容を適宜見直し、その改善に努めます。</p>

<p class="chapter-title">第11条（問い合わせ先）</p>
<p class="section-text">Shop Kloset Inc.は、本人からの個人情報の取扱いに関する問い合わせに対し、適切な対応を努めます。当社の個人情報の取扱いに関するお問い合わせは、下記にご連絡ください。</p>
<address>
    〒150-0041<br />
    東京都渋谷区神南1-16-7 パークウェースクエア’1 2階<br />
    Shop Kloset Inc.<br />
    info@shopkloset.com
</address>