---
/* src/components/Project/privacypolicy/PrivacyKo.astro */
---
<h2>개인정보 처리방침</h2>
<p class="section-text">Shop Kloset Inc.(이하 "회사"라 함)는 개인정보가 개인의 중요한 자산임을 인식하고, 개인정보를 적절하게 취득 및 이용하며, 개인정보 관련 법령 등을 준수합니다. 또한 개인정보의 누설 등을 방지하고 시정하기 위해 다음과 같이 개인정보 처리방침을 정하고, 세심한 주의를 기울여 관리 및 운영합니다. 참고로 링크된 타 사업자 등의 개인정보 수집은 본 개인정보 처리방침의 적용 범위가 아님을 유의하시기 바랍니다.</p>

<p class="chapter-title">제1조 (적절한 취득 및 이용 목적)</p>
<p class="section-text">회사는 적법한 수단에 의해 다음과 같은 이용 목적을 위해 개인정보를 취득합니다.</p>
<ul class="numbered-list">
    <li>(1) 각 서비스의 제공을 위해</li>
    <li>(2) 이용자의 연령 확인 및 본인 확인을 위해</li>
    <li>(3) 이용자의 프로필, 서비스 내 활동 및 취향을 분석하여 다른 이용자를 적합한 상대로 제안하거나, 이용자를 다른 이용자에게 제안하기 위해</li>
    <li>(4) 현재 제공 중인 서비스 또는 향후 제공 예정인 신규 서비스 안내 및 설문조사 실시를 위해</li>
    <li>(5) 마케팅 데이터의 조사, 통계 및 분석을 위해</li>
    <li>(6) 이메일 매거진 발송을 위해</li>
    <li>(7) 서비스 개선 및 신규 서비스 개발 등을 위해</li>
    <li>(8) 이용자에게 연락을 취하기 위해</li>
    <li>(9) 이용자 문의 시 본인 확인 및 기타 대응을 위해</li>
    <li>(10) 캠페인 등의 추첨 및 경품/상품 배송을 위해</li>
    <li>(11) 회사 또는 제3자가 광고주가 되는 광고 정보 등의 전송을 위해</li>
    <li>(12) 서비스 이용에 관한 통계 데이터 작성을 위해</li>
    <li>(13) 이용약관을 위반하는 형태의 이용을 방지하기 위해</li>
    <li>(14) 이용자가 동의한 목적을 위해</li>
</ul>

<p class="chapter-title">제2조 (적정한 관리 및 보호)</p>
<p class="section-text">개인정보 관리는 엄격히 수행하며, 개인정보에 대한 부정 액세스, 분실, 파괴, 변조, 누설을 방지하기 위한 적절한 예방 및 시정 조치를 취합니다.</p>

<p class="chapter-title">제3조 (위탁)</p>
<p class="section-text">회사는 이용 목적 달성에 필요한 범위 내에서 취득한 개인정보의 전부 또는 일부를 업무 위탁업체에 위탁할 수 있습니다. 이 경우 위탁업체의 적격성을 충분히 심사하고, 계약 시 비밀유지 의무 등에 관한 사항을 규정하여 위탁업체에 대해 필요하고 적절한 감독을 실시합니다.</p>

<p class="chapter-title">제4조 (제3자 제공)</p>
<p class="section-text">회사는 다음의 경우를 제외하고 제3자에게 데이터를 공개하거나 제공하지 않습니다.</p>
<ul class="numbered-list">
    <li>(1) 이용자가 사전에 동의한 경우</li>
    <li>(2) 법령에 근거한 경우</li>
    <li>(3) 서비스 이용약관 위반이 있어 회사의 권리, 재산 또는 서비스 등을 보호하기 위해 개인정보를 공개할 수밖에 없다고 판단되는 충분한 근거가 있는 경우</li>
    <li>(4) 사람의 생명, 신체 또는 재산의 보호를 위해 필요하며 이용자의 동의를 얻기 어려운 경우</li>
    <li>(5) 공중보건의 향상 또는 아동의 건전한 육성 추진을 위해 특히 필요하며 이용자의 동의를 얻기 어려운 경우</li>
    <li>(6) 국가기관, 지방자치단체 또는 그 위탁을 받은 자가 법령이 정하는 사무를 수행하는 데 협력할 필요가 있으며 이용자의 동의를 얻는 것이 해당 사무 수행에 지장을 초래할 우려가 있는 경우</li>
    <li>(7) 합병, 회사 분할, 영업 양도 기타 사유로 인해 개인정보 제공이 포함되는 경우</li>
</ul>

<p class="chapter-title">제5조 (공동 이용)</p>
<p class="section-text">회사는 서비스 제공을 위해 업무 제휴사와 개인정보를 공동 이용할 수 있습니다. 이 경우 회사는 공동 이용에 앞서 공동으로 이용하는 개인정보 항목, 공동 이용자의 범위, 이용 목적, 관리 책임자의 성명 또는 명칭에 대해 미리 공표합니다.</p>

<p class="chapter-title">제6조 (개인정보의 열람 등 절차)</p>
<p class="section-text">회사는 이용자로부터 본인의 개인정보 이용 목적 통지, 열람, 내용 수정, 추가 또는 삭제, 이용 정지, 삭제 및 제3자 제공 정지(이하 "열람 등") 요청이 있을 경우 지체 없이 응대합니다. 단, 개인정보 보호법 및 기타 법령에 의해 회사가 의무를 지지 않는 경우는 예외로 합니다. 열람 등 청구는 회사 소정의 절차에 따라 진행해야 합니다. 또한 개인정보 열람 시에는 수수료(건당 1,100엔(세금 포함), 이체 수수료는 이용자 부담)가 발생하므로 미리 양해 바랍니다.</p>

<p class="chapter-title">제7조 (면책)</p>
<p class="section-text">회사는 이용자가 서비스의 기능 또는 기타 수단을 사용하여 제3자에게 개인정보를 공개한 경우, 또는 이용자가 서비스 상에 공개한 정보 등으로 인해 개인이 식별된 경우에 대해서는 어떠한 책임도 지지 않습니다.</p>

<p class="chapter-title">제8조 (통계 데이터의 작성 및 이용)</p>
<p class="section-text">회사는 취득한 개인정보를 바탕으로 개인을 식별할 수 없도록 가공한 통계 데이터를 작성할 수 있습니다. 개인을 식별할 수 없도록 가공한 통계 데이터의 작성 및 이용에 대해서는 회사가 아무런 제한 없이 수행할 수 있는 것으로 합니다.</p>

<p class="chapter-title">제9조 (속성 정보·활동 이력 등의 취득 및 이용)</p>
<p class="section-text">회사는 서비스나 광고 내용을 이용자에게 더 적합하게 제공하기 위해, 다음과 같은 개인을 식별할 수 없는 정보를 취득 및 이용할 수 있습니다. 또한 동일한 목적으로 광고주, 정보 제공처, 서비스 제공처 등에 정보를 제공할 수 있습니다. (쿠키, 로그, 방문한 URL, 콘텐츠, 참조 순서 등의 활동 이력, 기기 고별 식별 정보 등의 단말 정보, 이용자의 성별, 직업, 연령 등의 속성 정보)</p>

<p class="chapter-title">제10조 (법령, 규범의 준수 및 검토)</p>
<p class="section-text">회사는 보유한 개인정보와 관련하여 적용되는 일본의 법령 및 기타 규범을 준수하며, 본 개인정보 처리방침의 내용을 적절히 검토하고 개선을 위해 노력합니다.</p>

<p class="chapter-title">제11조 (문의처)</p>
<p class="section-text">회사는 개인정보 취급에 관한 문의에 대해 적절한 대응을 하도록 노력하겠습니다. 당사의 개인정보 취급 관련 문의는 아래로 연락해 주시기 바랍니다.</p>
<address>
    우편번호 150-0041<br />
    Tokyo, Shibuya-ku, Jinnan 1-16-7 Parkway Square'1 2F<br />
    Shop Kloset Inc.<br />
    info@shopkloset.com
</address>