---
import "../styles/global.css";

interface Props {
  title?: string;
}
const { title } = Astro.props;

const url = new URL(Astro.request.url);
const locale = url.searchParams.get("lang") || "ja";

const { pathname } = Astro.url;

const isHome = pathname === "/";
---

<html lang={locale}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
	{isHome && (
    <link
      rel="preload"
      as="image"
      href="/images/pc_hero.webp"
      imagesrcset="/images/sp_hero.webp 1080w, /images/tablet_hero.webp 1536w, /images/pc_hero.webp 2560w"
      imagesizes="100vw"
    />
  )}
    <meta name="generator" content={Astro.generator} />
    <title>{title ? title : "Shop Kloset Inc."}</title>
	<link rel="icon" type="image/svg+xml" href="/skinc_favicon.svg" />
	<link rel="alternate icon" href="/skinc_favicon-48.ico" />
	<link rel="apple-touch-icon" href="/skinc_favicon-256.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class:list={[{ home: isHome }]}>
    {/* Header を確実にここに挿入 */}
    <slot name="header" />

    {/* メインコンテンツ */}
    <slot />

    {/* Footer を確実にここに挿入 */}
    <slot name="footer" />
  </body>
</html>
